.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;

}

.forgot-wrapper {
  background: #F3F4F6;
  padding: 40px;
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 233, 202, 0.568);
}

.forgot-wrapper p {
  color: #1D2A3A;
}

.forgot-success {
  background-color: #d4edda;
  border-left: 4px solid #28a745;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #155724;
}

.forgot-form {
  display: flex;
  flex-direction: column;
}

.forgot-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.forgot-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #1D2A3A;
}

.forgot-group input {
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 6px;
}

.forgot-group input:focus {
    outline: none;
    border-color: #00BFA6;
    background-color: #f9f9f9;
    box-shadow: 0 0 0 0.2rem rgba(0, 191, 166, 0.25);
}

.forgot-error {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}

.forgot-actions {
  text-align: center;
  margin-top: 20px;
}

input[type="email"] {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #263544;
    font-size: 14px;
}