.top-bar {
    height: 50px;
    background-color: #1d2a3a;
}

img.rounded-circle {
    border: 2px solid #ccc;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.header {
    padding: 20px 0;
    color: #1ABC9C;
}

.icon-color {
    color: #1ABC9C;
}

.menu-bar {
    background-color: #1d2a3a;
    border-top: 2px solid #00BFA6;
    border-bottom: 2px solid #00BFA6;
}

.text-primary-custom {
    color: #F8F9FA;
}