/* GERAL AUTHENTICATION STYLE */
.authentication-title {
    font-size: 18px;
    margin-bottom: 20px;
    color: #00BFA6;
    text-align: center;
}

button {
    padding: 12px;
    background-color: #00BFA6;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #009C8B;
}

/* BACKGROUND PAGE */
body {
    margin: 0;
    padding: 0;
    background-color: #1D2A3A;
    font-family: Arial, sans-serif;
}

/* STRUCTURE CENTER */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
}

/* WELCOME ICON */
.login-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00BFA6;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 85px;
}


.welcome-text {
    font-size: 14px;
    margin: 0;
}

/* WHITE BOX LOGIN */
.login-box {
    background: #F3F4F6;
    padding: 30px 25px;
    border-radius: 12px;
    width: 100%;
    max-width: 360px;
    box-shadow: 0 0 15px rgba(0, 233, 202, 0.568);
    text-align: center;
}



form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="email"],
input[type="password"] {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #00BFA6;
    font-size: 14px;
}

.form-input:focus {
    outline: none;
    border-color: #00BFA6;
    background-color: #f9f9f9;
    box-shadow: 0 0 0 0.2rem rgba(0, 191, 166, 0.25);
}

/* FOOTER LINKS */
.login-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
    font-size: 13px;
    padding: 0 5px;
}

.login-footer a {
    color: #1ABC9C;
    text-decoration: none;
}

.login-footer a:hover {
    color: #F3F4F6;
    text-decoration: underline;
}

.forgot-info {
  text-align: center;
  font-size: 1rem;
  color: #263544;
  margin-bottom: 20px;
}
