.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.reset-wrapper {
  background: #F3F4F6;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 233, 202, 0.568);
}

.reset-wrapper label {
  color: #1D2A3A;
}

.reset-form {
  display: flex;
  flex-direction: column;
}

.reset-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.reset-group label {
  margin-bottom: 6px;
  font-weight: bold;
}

.reset-group input {
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 6px;
}

.reset-group input:focus {
    outline: none;
    border-color: #00BFA6;
    background-color: #f9f9f9;
    box-shadow: 0 0 0 0.2rem rgba(0, 191, 166, 0.25);
}

.reset-error {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}

.reset-actions {
  text-align: center;
  margin-top: 20px;
}